CLIMATELENS_ENV=local
CLIMATELENS_LOG_LEVEL=INFO
CLIMATELENS_GCP_PROJECT=
CLIMATELENS_GCP_REGION=europe-west3
CLIMATELENS_DATA_BUCKET=
CLIMATELENS_MODELS_BUCKET=
CLIMATELENS_BIGQUERY_DATASET=climatelens
CLIMATELENS_MODEL_DIR=./models
